.SeasonDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.icon-left {
    position: absolute;
    top: 10px;
    left: 10px;
}

.icon-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.SeasonDisplay.winter > i {
    color: blue;
}

.SeasonDisplay.summer > i {
    color: red;
}

.winter {
    background-color: aliceblue;
}

.summer {
    background-color: orange;
}