.SeasonDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 20px;
}

.icon-left {
    align-self: flex-start;
}

.icon-right {
    align-self: flex-end;
}

h1 {
    padding: 10px;
}

.SeasonDisplay.spring > i {
    color: plum;
}

.SeasonDisplay.winter > i {
    color: blue;
}

.SeasonDisplay.summer > i {
    color: orangered;
}

.SeasonDisplay.fall > i {
    color: darkorange;
}

.winter {
    background-color: aliceblue;
}

.summer {
    background-color: gold;
}

.spring {
    background-color: skyblue;
}

.fall {
    background-color: darkgoldenrod;
}